<div class="container">
        <h1 class="mt-5">Guestlist Manager</h1>
        <p class="lead">Manage your wedding guest list here.</p>

        <!-- Guestlist Manager functionality will be added here -->

    </div>