<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <style>
        .nav {
            background-color: blue;
            color: white;
            padding: 10px;
        }

        .footer {
            background-color: gray;
            color: white;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="navbar"> NAVIGATION </div>
    <div class="content">
        <%- body %>
    </div>
    <div class="footerbar"> FOOTER </div>
</body>
</html>
