<div class="container">
    <div class="col-sm-6">
      <img src="images/cat.jpg" alt="">
    </div>
    <div class="col-sm-6">
      <h1 class="title">The best wedding vendors in your city!</h1>
      <p>Please choose the type of vendor you want to see:</p>
      <select name="vendor-type" id="vendor-type">
        <option value="Photographer">Photographer</option>
        <option value="Light & Sound">Light & Sound</option>
        <option value="Stage Design">Stage Design</option>
        <option value="Flowers">Flowers</option>
        <option value="Car Rental">Car Rental</option>
        <option value="Wedding Card">Wedding Card</option>
      </select>
      <br>
      <% vendors.forEach(vendor => { %>
      <h5>
        <%= vendor.name %>
      </h5>
      <p>
        <%= vendor.type %>
      </p>
      <p>
        <%= vendor.description %>
      </p>
      <span>$
        <%= vendor.cost %> </span>
      <hr>
      <% }); %>
    </div>
    <br>
    <h2>Add a Vendor</h2>
        <br>
        <form action="/vendors/add" method="post">
            <input type="text" name="name" placeholder="Vendor Name" required>
            <input type="text" name="type" placeholder="Vendor Type" required>
            <input type="text" name="description" placeholder="Description" required>
            <input type="number" name="cost" placeholder="Cost" required>
            <input type="submit" value="Add Vendor">
        </form>
    

</div>

